
<div class="social-wrapper">
	<ul>
		<li><a href="mailto:gray.reinhard@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
		<li><a href="https://github.com/graysonthemason" target="_blank"><i class="fa fa-github"></i></a></li>
		<li><a href="https://soundcloud.com/gray-reinhard" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
		<li><a href="https://www.linkedin.com/in/grayreinhard" target="_blank"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://www.instagram.com/graysonthemason/" target="_blank"><i class="fa fa-instagram"></i></a></li>
	</ul>
</div>
