
<div class="social-wrapper">
	<ul>
		<li><a href="mailto:gray.reinhard@gmail.com"><i class="fa fa-envelope"></i></a></li>
		<li><a href="https://github.com/graysonthemason"><i class="fa fa-github"></i></a></li>
		<li><a href="https://www.facebook.com/gray.reinhard"><i class="fa fa-facebook-square"></i></a></li>
		<li><a href="https://www.linkedin.com/in/grayreinhard"><i class="fa fa-linkedin"></i></a></li>
		<li><a href="https://www.instagram.com/graysonthemason/"><i class="fa fa-instagram"></i></a></li>
	</ul>
</div>
