* {
  margin: 0;
}
html, body, .site-wrapper {
  height: 100%;
  text-align: center;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -42px; 
}
header {
	overflow: auto;
	padding: 20px;
}
header h2 {
	float: left;
	margin: 0;
}
.social-wrapper {
	font-size: 30px;
}
.fa {
	color: #333;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 42px; 
}
.site-footer {
	background: #333;
	color: white;
	padding: 12px;
	font-size: .8em;
}
.brain {
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
}
.brain div {
	display: inline-block;
	background-size: cover;
	position: relative;
}
.brain img {
	height: 360px;
	width: auto;
	visibility: hidden;
}
#left-brain, #right-brain {
	cursor: pointer;
	overflow: hidden;
}
#left-brain {
	margin-right: 2px;
	background-image: url('../img/left.jpg')
}
#left-brain:hover, #left-brain.selected {
	background-image: url('../img/left_color.jpg')
}
#right-brain {
	margin-left: 2px;
	background-image: url('../img/right.jpg')
}
#right-brain:hover, #right-brain.selected {
	background-image: url('../img/right_color.jpg')
}
nav{
	margin-bottom: 12px;
}
nav ul, header ul {
	padding: 4px;
	margin: 0;
}
nav li, .social-wrapper li {
    display: inline;
    cursor: pointer;
}
.horizontal-center {
	text-align: center;
	margin-top: 20%;
}

body:after{
    display: none;
    content: url(../img/left_color.jpg) url(../img/right_color.jpg);
}
.full-width {
	width: 100%;
}
.selected .badge {
	background-color: red;
}
.badge:hover {
	background-color: red;
}
#description-wrapper {
	margin: auto;
	max-width: 780px;
	min-width: 220px;
	margin-bottom:10px;
}
#description-wrapper p {
	text-align: left;
	padding: 0 10px;
}
#description-wrapper ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}
#description-wrapper .fa-star {
	float: right;
	color: #999;
}
#description-wrapper img {
	height: 48px;
	margin: 5px;
}

#description-wrapper .square-logo {
	height: 75px;
}

.swipe {
	overflow: hidden;
  	visibility: hidden;
  	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}
#description-wrapper .client-list {
	text-align: center
}
#description-wrapper .languages {
	max-width: 300px;
	margin: auto;
}
@-webkit-keyframes bgpulse {
      0% {background-color: #333;}
     25% {background-color: #221111;}
     50% {background-color: #111122;}
     75% {background-color: #112211;}
     100% {background-color: #333;}
}
@-webkit-keyframes grow {
      0% {font-size: 1em;}
     100% {font-size: 1.05em;}
}
.site-footer {
     background-color: #333;    
     -webkit-animation: bgpulse 10s infinite alternate;
}
header .fa {-webkit-transition: padding 2s;
	color: #333;    
}
header .fa:hover {
	color: red;
	font-size: 1em;
	-webkit-animation: grow .5s forwards;
}
#left-brain:hover, #left-brain.selected {
	background-image: url('../img/left_color.jpg')
}
div.img-thumb {
	width: 150px;
    height: 150px;
    background-size: cover;
}
.img-wrapper {
	height:auto;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    max-width: 640px;
}
.img-wrapper li {
	display:inline-block;
	margin: 3px;
	cursor: pointer;
	white-space: nowrap;
}
#description-wrapper .music-wrapper p {
	text-align: center;
}
.img-wrapper li .img-thumb { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.img-wrapper li:hover > .img-thumb { 
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#description-wrapper .img-wrapper ul {
	display: inline-block;
	text-align: center;
}
.music-wrapper iframe {
	margin: 3px;
}
.overlay{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	z-index: 10;
  	background-color: rgba(0,0,0,0.5); /*dim the background*/
}
#current-img {
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 100px rgba(0,0,0,.4);
}
#current-img img {
	height: 100%;
	margin: 0;
}
#current-img .fa {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
    background: rgba(3,3,3,.4);
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
}
.horizontal-center{
	position: absolute;
	margin-left: 50%;
	left: -110px;
	top: 20px;
	margin-top: 20px;
}
.client-list li {
	display: inline;
    padding: 20px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.client-list li:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.badge {
	display: inline-block;
    min-width: 60px;
    padding: 5px 10px;
}
.services li {
	margin: 0 2px;
}

