* {
  margin: 0;
}
html, body, .site-wrapper {
  height: 100%;
  text-align: center;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -42px; 
}
header {
	overflow: auto;
	padding: 20px;
}
header h2 {
	float: left;
	margin: 0;
}
.social-wrapper {
	font-size: 30px;
}
.fa {
	color: #333;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 42px; 
}
.site-footer {
	background: #333;
	color: white;
	padding: 12px;
	font-size: .8em;
}
.brain {
	overflow: hidden;
	margin-bottom: 20px;
}
.brain div {
	display: inline-block;
	background-size: cover;
	position: relative;
}
.brain img {
	height: 360px;
	width: auto;
	visibility: hidden;
}
#left-brain, #right-brain {
	cursor: pointer;
	overflow: hidden;
}
#left-brain {
	margin-right: 2px;
	background-image: url('../img/left.jpg')
}
#left-brain:hover, #left-brain.selected {
	background-image: url('../img/left_color.jpg')
}
#right-brain {
	margin-left: 2px;
	background-image: url('../img/right.jpg')
}
#right-brain:hover, #right-brain.selected {
	background-image: url('../img/right_color.jpg')
}
nav{
	margin-bottom: 12px;
}
nav ul, header ul {
	padding: 4px;
	margin: 0;
}
nav li, .social-wrapper li {
    display: inline;
    cursor: pointer;
}
.horizontal-center {
	text-align: center;
	margin-top: 20%;
}

body:after{
    display: none;
    content: url(../img/left_color.jpg) url(../img/right_color.jpg);
}
.full-width {
	width: 100%;
}
.selected .badge {
	background-color: red;
}
.badge:hover {
	background-color: red;
}
#description-wrapper {
	margin: auto;
	max-width: 780px;
	min-width: 220px;
	margin-bottom:10px;
}
#description-wrapper p {
	text-align: left;
}
#description-wrapper ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}
#description-wrapper .fa-star-o {
	float: right;
}
#description-wrapper img {
	height: 48px;
	margin: 5px;
}
.swipe {
	overflow: hidden;
  	visibility: hidden;
  	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}
#description-wrapper .client-list {
	text-align: center
}
#description-wrapper .languages {
	max-width: 300px;
	margin: auto;
}
#shimmer .fa {
	-webkit-animation: pulse 1.25s infinite;
	-moz-animation: pulse 1.25s infinite;
	-ms-animation: pulse 1.25s infinite;
	-o-animation: pulse 1.25s infinite;
	animation: pulse 1.25s infinite;
}
#shimmer .fa:nth-child(5n+0) {
	color:#001F3F;

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}
#shimmer .fa:nth-child(5n+1) {
	color:#001F3F;
	-webkit-animation-delay: .75s; /* Chrome, Safari, Opera */
    animation-delay: .75s;
}
#shimmer .fa:nth-child(5n+2) {
	color:#001F3F;
	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}
#shimmer .fa:nth-child(5n+3) {
	color:#001F3F;
	-webkit-animation-delay: .25s; /* Chrome, Safari, Opera */
    animation-delay: .25s;
}
#shimmer .fa:nth-child(5n+4) {
	color:#001F3F;
	-webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;
}

@keyframes pulse {
  0% {
   color: #001F3F;
  }
  25% {
    color: red;
  }
  50% {
    color: #990000;
  }
  100% {
  	color: #001F3F;
  }
}

@-webkit-keyframes bgpulse {
      0% {background-color: #333;}
     25% {background-color: #330000;}
     50% {background-color: #000033;}
     75% {background-color: #003300;}
     100% {background-color: #333;}
}

@-webkit-keyframes colorpulse {
      0% {color: #333;}
     25% {color: #440000;}
     50% {color: #000044;}
     75% {color: #004400;}
     100% {color: #333;}
}
 
.site-footer {
     background-color: #333;    
     -webkit-animation: bgpulse 10s infinite alternate;
}
header .fa {
	color: #333;    
     -webkit-animation: colorpulse 10s infinite alternate;
}
header .fa:hover {
	color: red !important;
	font-size: 1.1em !important;
}
div.img-thumb {
	width: 150px;
    height: 150px;
    background-size: cover;
}
.img-wrapper {
	height: 490px;
}
.img-wrapper li {
	display:inline;
	float: left;
	margin: 3px;
	cursor: pointer;
}
#description-wrapper .music-wrapper p {
	text-align: center;
}